@using GMS.Web
@using GMS.Core.Config
@model GMS.Account.Contract.Role
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var adminMenuConfig = CachedConfigContext.Current.AdminMenuConfig;
}
@section PageSpecificJavascriptIncludes{
		
    <script type="text/javascript">
        $("#navigation").hide();
        $(".sub").show();
        $(".has-sub>a").each(function () {
            $(this).css("background-color", "#313131");

        });
   </script>
}


<div class="p10 m10">
	<!-- BEGIN BLOCKQUOTES PORTLET-->
	<div class="portlet">
		<div class="portlet-title">

			<h4><i class="icon-reorder"></i>@CachedConfigContext.Current.SettingConfig.WebSiteTitle</h4>
			<div class="tools">
				<a href="javascript:;" class="collapse"></a>
				<a href="#portlet-config" data-toggle="modal" class="config"></a>
				<a href="javascript:;" class="reload"></a>
				<a href="javascript:;" class="remove"></a>
			</div>
		</div>

		<div class="portlet-body">
			<h3></h3>
			<blockquote>
				<p>欢迎使用 @CachedConfigContext.Current.SettingConfig.WebSiteTitle ，Landing Page Coming soon!</p>
			</blockquote>
		</div>
	</div>
	<!-- END BLOCKQUOTES PORTLET-->
</div>


<div class="portlet box red m10">
	<div class="portlet-title">
		<h4><i class="icon-reorder"></i>功能列表</h4>

		<div class="tools">
			<a href="javascript:;" class="collapse"></a>
		</div>
	</div>
	<div class="portlet-body">
		<ul>
			@foreach (var group in adminMenuConfig.AdminMenuGroups)
            {
                <li><h4>@group.Name</h4></li>
                <ul class="dl-horizontal unstyled">
                @foreach (var menu in group.AdminMenuArray)
                {
                    <li class="m10 floatleft"><a href="@menu.Url" class="btn red-stripe">@menu.Name 　<span class="muted">@menu.Info</span></a></li>
                }
                </ul>
            }

		</ul>
	</div>
</div>








