@using GMS.Core.Config
@using GMS.Web

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
	<meta charset="utf-8" />
	<title>@CachedConfigContext.Current.SettingConfig.WebSiteTitle</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	<link href="@Url.StaticFile("/assets/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
	<link href="@Url.StaticFile("/assets/css/metro.css")" rel="stylesheet" />
	<link href="@Url.StaticFile("/assets/bootstrap/css/bootstrap-responsive.min.css")" rel="stylesheet" />
	<link href="@Url.StaticFile("/assets/font-awesome/css/font-awesome.css")" rel="stylesheet" />
	<link href="@Url.StaticFile("/assets/css/style.css")" rel="stylesheet" />
	<link href="@Url.StaticFile("/assets/css/style_responsive.css")" rel="stylesheet" />
	<link href="@Url.StaticFile("/assets/css/style_default.css")" rel="stylesheet" id="style_color" />
	<link href="@Url.StaticFile("/assets/fancybox/source/jquery.fancybox.css")" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="@Url.StaticFile("/assets/uniform/css/uniform.default.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.StaticFile("/assets/chosen-bootstrap/chosen/chosen.css")" />
	<link rel="stylesheet" href="@Url.StaticFile("/assets/data-tables/DT_bootstrap.css")" />
	<link rel="stylesheet" type="text/css" href="@Url.StaticFile("/assets/uniform/css/uniform.default.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.StaticFile("/assets/jquery-ui/jquery-ui-1.10.1.custom.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.StaticFile("/content/styles/admin.main.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.StaticFile("/content/styles/jquery.thickbox.css")" />
    @RenderSection("PageSpecificStyleSheetIncludes", required: false)
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="fixed-top">
	<!-- BEGIN HEADER -->
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		@Html.Partial("_Header")
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container row-fluid">
		<!-- BEGIN SIDEBAR -->
		@Html.Partial("_Menu")
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div id="portlet-config" class="modal hide">
				<div class="modal-header">
					<button data-dismiss="modal" class="close" type="button"></button>
					<h3>portlet Settings</h3>
				</div>
				<div class="modal-body">
					<p>Here will be a configuration form</p>
				</div>
			</div>
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<!-- BEGIN PAGE CONTAINER-->			
			<div class="container-fluid">
				<!-- BEGIN PAGE HEADER-->
				<div class="row-fluid">
					<div class="span12" id="navigation">
						<!-- BEGIN STYLE CUSTOMIZER -->
						@Html.Partial("_Theme")
						<!-- END BEGIN STYLE CUSTOMIZER -->  
						<!-- BEGIN PAGE TITLE & BREADCRUMB-->			
						<h3 class="page-title">
							<span>标题</span>　<small>介绍</small>
						</h3>
						<ul class="breadcrumb">
							<li>
								<i class="icon-home"></i>
								<span>首页</span> 
								<i class="icon-angle-right"></i>
							</li>
							<li>
								<span>菜单组</span>
								<i class="icon-angle-right"></i>
							</li>
							<li><span>菜单</span></li>
						</ul>
						<!-- END PAGE TITLE & BREADCRUMB-->
					</div>
				</div>
				<!-- END PAGE HEADER-->
				<!-- BEGIN PAGE CONTENT-->				
                @RenderBody()
				<!-- END PAGE CONTENT-->
			</div>
			<!-- END PAGE CONTAINER-->
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	@Html.Partial("_Footer")
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS -->
    <script type="text/javascript">
        var staticFileRoot = "@Url.StaticFile()";
	</script>
	<!-- Load javascripts at bottom, this will reduce page load time -->
	<script src="@Url.StaticFile("/assets/js/jquery-1.8.3.min.js")"></script>	
	<script src="@Url.StaticFile("/assets/breakpoints/breakpoints.js")"></script>	
	<script src="@Url.StaticFile("/assets/bootstrap/js/bootstrap.min.js")"></script>	
	<script src="@Url.StaticFile("/assets/js/jquery.blockui.js")"></script>
	<script src="@Url.StaticFile("/assets/js/jquery.cookie.js")"></script>
	<!-- ie8 fixes -->
	<!--[if lt IE 9]>
	<script src="@Url.StaticFile("/assets/js/excanvas.js")"></script>
	<script src="@Url.StaticFile("/assets/js/respond.js")"></script>
	<![endif]-->	
	<script type="text/javascript" src="@Url.StaticFile("/assets/uniform/jquery.uniform.min.js")"></script>
	<script type="text/javascript" src="@Url.StaticFile("/assets/data-tables/jquery.dataTables.js")"></script>
	<script type="text/javascript" src="@Url.StaticFile("/assets/data-tables/DT_bootstrap.js")"></script>
    @*<script type="text/javascript" src="@Url.StaticFile("/assets/js/jquery.pulsate.min.js")"></script>	*@	
	<script type="text/javascript" src="@Url.StaticFile("/assets/js/app.js")"></script>	
    <script type="text/javascript" src="@Url.StaticFile("/content/scripts/jquery.thickbox.js")"></script>	
    <script type="text/javascript" src="@Url.StaticFile("/assets/jquery-ui/jquery-ui-1.10.1.custom.min.js")"></script>
    <script type="text/javascript" src="@Url.StaticFile("/content/scripts/jquery.numeric.js")"></script>
    <script type="text/javascript" src="@Url.StaticFile("/content/scripts/jquery.ui.datapicker-zh-CN.js")"></script>	
    <script type="text/javascript" src="@Url.StaticFile("/content/scripts/admin.main.js")"></script>	
	<script type="text/javascript">
	    jQuery(document).ready(function () {
	        // initiate layout and plugins
	        App.init();
	    });
	</script>
    @RenderSection("PageSpecificJavascriptIncludes", required: false)
</body>
<!-- END BODY -->
</html>
